.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  transition: all;
}

.headerContainer {
  @apply flex items-center space-x-2 md:space-x-10;
}

.headerUserInfo {
  @apply flex flex-col text-[#b3b3b3] text-sm  hidden md:inline;
}

.headerUserImage {
  @apply cursor-pointer rounded h-10 w-10;
}

@media (min-width: 1024px) {
  .header {
    padding: 24px 40px;
  }
}
