@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #141414;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 1.25rem;
  margin-top: 1.75rem;
  margin-bottom: 2.5rem;
}

.topic__title {
  font-size: 1.5rem;
  line-height: 2rem;
}

.link {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 300;
  color: #e5e5e5;
  text-align: center;
  cursor: pointer;
  transition: all;
  transition-duration: 0.4s;
}

.link:hover {
  color: #b3b3b3;
}

.auth {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  background-color: black;
  justify-content: center;
  gap: 2rem;
}

.form {
  position: relative;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 1rem;
  background-color: rgb(0 0 0 / 0.75);
  padding: 2.5rem 1.5rem;
}

.form_label {
  width: 100%;
  display: inline-block;
}

.form__header {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 600;
}

.form__input {
  width: 100%;
  border-radius: 0.25rem;
  background-color: #333;
  padding: 0.9rem 1.25rem;
  outline: none;
}

.form__input::placeholder {
  color: gray;
}

.form__input:focus {
  background-color: #454545;
}

.form__submit-button {
  width: 100%;
  max-width: 20rem;
  align-self: center;
  border-radius: 0.25rem;
  background-color: #54599f;
  padding: 0.75rem 0;
  transition: all;
  transition-duration: 0.4s;
}

.form__submit-button:hover {
  background-color: #212bba;
}

.form__link-button {
  color: white;
  margin-left: 0.2rem;
}

.form__link-button:hover {
  text-decoration-line: underline;
}

.form__error {
  font-size: 13px;
  font-weight: 300;
  color: #e56700;
  padding: 0.25rem;
}

.account {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.account__title {
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin: 5rem 0;
}

.account__info-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  border-bottom-width: 1px;
  border-color: #b3b3b3;
  padding-bottom: 0.25rem /* 4px */;
}

.account__info-label {
  color: #b3b3b3;
}

.account__button-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2.5rem;
}

.article {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
  padding: 1.75rem 1.5rem;
}

.article_title {
  font-size: 1.5rem;
  line-height: 2rem;
}

.article__topic-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.article__description-container {
  display: flex;
  flex-direction: column;
}

.article__circle-point {
  width: 0.3rem;
  height: 0.3rem;
  background-color: #54599f;
  border-radius: 50%;
}

.article__information {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  margin-top: 2.5rem;
}

.article__avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 0.25rem;
}

.article__text {
  padding: 1.25rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.reset__button {
  color: #954343;
  font-weight: 600;
  padding: 0.75rem 0;
  transition: all;
  transition-duration: 0.4s;
}

.reset__button:hover {
  color: #862222;
}

@media (min-width: 768px) {
  .auth {
    align-items: center;
    background-color: transparent;
  }

  .form {
    margin-top: 0px;
    max-width: 28rem;
    min-width: 450px;
  }

  .account__info-container {
    width: 20%;
  }

  .article__topic-container {
    gap: 1.25rem;
  }
}
